<!DOCTYPE html>
<html>
<head>
  <title>Partyplanner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class = "show" >
<%= render 'header' %>
<div id = "body" >

	<div class = "container">

		<%= yield %>
	</div>
</div>
</body>
</html>
